* {
    margin: 0;
    padding: 0;
}

html {
    font-family: "Avenir Next";
    @font-face {
        font-family: 'Avenir Next';
        src: url("http://www.yoursite.com/fonts/Avenir_Next.otf"); /* File to be stored at your site */
    }
}